*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:peru;
    color: royalblue;
    text-align: center;
    font-family: fantasy;
    font-size: 16px;
    margin:0;
    padding:0;

}
.cabecera{
    background: coral;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
.cabecera .logo{
    width: 20px;
    vertical-align: middle;
}
.cabecera .tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
.container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
}
.post{
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}
img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}
.footer{
    background: violet;
    color: white;
    text-align: center;
    padding: 0.5em;
}